@charset "UTF-8";
/* CSS Document */

.bun-top {
  height: 80px;
  width: 65%;
  background: #ed9a14;
  border-radius: 100px 100px 20px 20px;
  border-bottom: solid 10px rgba(0,0,0,.1);
}

.cheese {
  height: 25px;
  width: 65%;
  background: rgba(230, 181, 17, 0.96);
  border-bottom: solid 3px rgba(0,0,0,.1);
}

.tomato {
  height: 45px;
  width: 60%;
  background-color: #dd3710;
  border-bottom: solid 3px rgba(0,0,0,.1);
}

.meatball {
  height: 80px;
  width: 80px;
  background: #74380d;
  border-radius: 60px;
  display: inline-block;
  vertical-align: top;
}

.patty {
  height: 45px;
  width: 75%;
  background: #ad370b;
  border-radius: 85px;
  border-bottom: solid 3px rgba(0,0,0,.1);
}

.pickle {
  height: 40px;
  width: 55%;
  background: #0d964f;
  border-radius: 0 0 100px 100px;
  border-bottom: solid 10px #2c5842;
}

.onion {
  width: 50%;
  background-color: #3e39bf;
  border-top: dotted 20px rgba(255,255,255,.2);
}

.bun-bottom {
  height: 75px;
  width: 65%;
  background: #c17a0a;
  border-radius: 20px 20px 40px 40px;
  border-top: solid 8px rgba(0,0,0,.1)
}

.plate {
  height: 35px;
  width: 80%;
  background: #e01ca4;
  border-radius: 20px 20px 200px 200px;
}
